<!doctype html>

<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="/menu.css">

<title>Ejemplo de menu desplegable</title></head>

<body bgcolor="#cddf89">

<font size="8" color="#987644" face="Tahoma">

Menu

</font><br><br>

<nav class="menu">

<font size="4">

<ul>

<li><a href="#">Inicio</a></li>

<li><a href="#">Pagina 1</a>

                <ul>

                <li><a href="#">Pagina 1 A</a></li>

                <li><a href="#">Pagina 1 B</a></li>

                </ul></li>

<li><a href="#">Pagina 2</a>

                <ul>

                <li><a href="#">Ejemplo 1</a></li>

                <li><a href="#">Ejemplo 2</a></li>

                <li><a href="#">Ejemplo 3</a></li>

                </ul></li>

 

<li><a href="#">Pagina 3</a></li>

</ul>

</font></nav>

</body></html>